.news {
    background-image: url('../img/newsbg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .news__line {
        width: 100px;
        border-bottom: 2px solid white;
        margin: 0 auto;
        padding-top: 8%;
    }

    .news__title {
        font-size: 44px;
        font-weight: 500;
        color: white;
        text-align: center;
        margin: 22px 0 5% 0;
    }

    .news__sliderwrap {


        .news__slider {
            padding: 1% 5% 8% 5%;
            margin: 0 5%;
            position: relative;

            .slick-dots {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;

                button {
                    font-size: 0;
                }

                li {
                    margin: 20px;
                    font-size: 0;
                    width: 10px;
                    height: 10px;
                    border: 1px solid white;
                    border-radius: 50%;
                    background: inherit;


                    &.slick-active {
                        background-color: white;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                    }
                }
            }



            .slick-arrow {
                position: absolute;
                top: 40%;
                z-index: 10;
                font-size: 0;
                width: 40px;
                height: 40px;

                &.slick-prev {
                    left: 0;
                    background: transparent;
                    background-image: url('../img/arrowleft.png');
                }

                &.slick-next {
                    right: 0;
                    background: transparent;
                    background-image: url('../img/arrowright.png');
                }
            }

            .news__slider-item {
                width: 180px;
                margin: 18px;
                background-color: white;

                .news__img {
                    width: 100%;
                    height: auto;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .news__wrap {
                    margin: 20px;

                    .news__cardtitle {
                        color: #2C4058;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 30px;
                    }

                    .news__carddis {
                        color: #4B5562;
                        font-size: 18px;
                        margin: 10px 0 15px 0;
                        line-height: 28px;
                    }

                    .news__author {
                        display: flex;
                        flex-direction: row;

                        .news__authorinfo {
                            margin-left: 10px;
                            margin-top: 4px;

                            .news__authorname {
                                font-size: 20px;
                            }

                            .news__date {
                                color: #55B7FF;
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
        }
    }


}