.work {
    .work__line {
        width: 100px;
        border-top: 2px solid #2C4058;
        margin: 6.5% auto 2% auto;
    }

    .work__title {
        margin: 0 auto;
        font-size: 46px;
        font-weight: 600;
        text-align: center;
        color: #2C4058;
    }
}